// {
//     "presets": [
//         [
//             "@babel/preset-env", 
//             {
//                 "useBuiltIns":"entry",
//                 "corejs":3
//             }
    
//         ]
//     ]
// }
{
    "presets": [
        "env",
        "stage-3"
    ]
}